@(createForm: Form[CreateCategoryForm])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@main("Customer details") {
    <article>
        <h2>Create new category</h2>
        @flash.get("success").getOrElse("")
        @form(routes.CategoryController.create()) {
            @helper.CSRF.formField
            @inputText(createForm("name"))

            <div class="buttons">
                <input type="submit" value="Add Category"/>
            </div>
        }
    </article>
}