@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
        @* And here's where we render the `Html` object containing
         * the page content. *@
        <section id="top">
            <div class="wrapper">
                <h1>Shop</h1>
            </div>
        </section>

        <div id="content" class="wrapper doc">

        @content

            <aside>
                <h3>Menu</h3>
                <ul>
                    <li><a href="@controllers.routes.CategoryController.list()">Categories</a></li>
                    <li><a href="@controllers.routes.ProductController.list()">Products</a></li>
                    <li><a href="@controllers.routes.CustomerController.list()">Customers</a></li>
                    <li><a href="@controllers.routes.DiscountController.list()">Discounts</a></li>
                    <li><a href="@controllers.routes.InventoryController.list()">Inventory</a></li>
                    <li><a href="@controllers.routes.ShippingController.list()">Shipping Methods</a></li>
                    <li><a href="@controllers.routes.WishlistController.list()">Wishlist</a></li>
                    <li><a href="@controllers.routes.CartController.listAction()">Cart</a></li>
                    <li><a href="@controllers.routes.OrderController.list()">Orders</a></li>
                    <li><a href="@controllers.routes.ReviewController.list()">Reviews</a></li>
                </ul>

            </aside>

        </div>
    </body>
</html>
